/soluction/domain/target/
/soluction/business/target/
/soluction/applications/target/
/soluction/applications/app-queries/target/
/soluction/applications/app-command/target/
/soluction/applications/app-proxy/target/
/soluction/applications/app-master/target/
/soluction/applications/app-gateway/target/

/.idea/
/web/.angular/
/web/.firebase/

/soluction/.idea/
/soluction/cardgame.iml
/soluction/applications/app-proxy/app-proxy.iml
/soluction/applications/app-command/app-command.iml
/soluction/applications/app-queries/app-queries.iml
/soluction/applications/app-master/app-master.iml
/soluction/applications/app-gateway/app-gateway.iml

/soluction/applications/applications.iml
/soluction/domain/domain.iml
/soluction/business/business.iml
