soluction/domain/target/
soluction/business/target/
soluction/applications/target/

/.idea/
frontend/web/.angular/
frontend/web/.firebase/

soluction/.idea/
soluction/cardgame.iml
soluction/applications/app-proxy/app-proxy.iml
soluction/applications/app-command/app-command.iml
soluction/applications/app-queries/app-queries.iml
soluction/applications/applications.iml
soluction/domain/domain.iml
soluction/business/business.iml
