<div class="displayTable">
  <div class="displayTableCell">
    <div class="mainContainer">
      <h1>Inicio</h1>
      <div class="container">
        <h2>Indicaciones de Juego</h2>
        <p>
          Para iniciar el juego debes estar registrado, incluso los jugadores
        </p>
        <button class="create-btn" (click)="onclickCreate()">
          Crear Juego
        </button>
      </div>
      <button class="consult-btn" (click)="onclickList()">
        Consultar Juegos Creados
      </button>
    </div>
  </div>
</div>
