apiVersion: v1
kind: Service
metadata:
  name:  {{ .Release.Name }}-queries
  labels:
    {{- include "cardgame-core.labels" . | nindent 4 }}
spec:
  type: LoadBalancer
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "cardgame-core.name" . }}-queries
    app.kubernetes.io/instance: {{ .Release.Name }}-queries
