body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    margin: auto;
    padding-left: 3px;
}

.uname{
    font-size: medium;
    color: rgb(248, 214, 23);
}

header{
    display: flex;
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-align: left;
}

.logo img{
    height: 50px;
    margin-left: 10px;
    margin-right: 5px ;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    border: none;
}


nav a:hover{
    color: red;
    background-color: transparent;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}